*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  line-height: 1.15; /* 1 */
  box-sizing: border-box;
}

.banner {
  background-image: url("../img/banner.svg");
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.banner__title {
  position: static;
  display: block;
  font-family: 'Century Gothic', sans-serif;
  text-transform: none;
  max-width: 475px;
  font-size: 30px;
  line-height: 36px;
  padding: 10px 0 10px 100px;
  margin: auto;
  color: #fff;
  text-align: center;
  background-image: url("../img/virus.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 25%;
}

.covid-wrapper {
  min-width: 1200px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  font-family: 'Century Gothic', sans-serif;
  box-shadow: 0px 0px 70px 9px #dacdcd;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
