.block1 {
  padding: 20px 0 0;
  background-image: url("../img/fon1.svg");
  background-repeat: no-repeat;
  background-position: top -300px center;
  background-size: 1010px;
}

.block1__title {
  position: static;
  display: block;
  font-family: 'Century Gothic', sans-serif;
  text-transform: none;
  max-width: 520px;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 140px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #231F20;

  span {
    color: #D34839;
  }
}

.block1__2box {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-left: 200px;
    max-width: 380px;
    font-size: 18px;
    line-height: 24px;
  }
}

.block1__3box {
  margin-top: -30px;
  padding: 200px 0 90px;
  background-image: url("../img/fon2.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;

  p {
    max-width: 570px;
    margin: auto;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  a {
    color: #D34839;
    font-weight: 700;
  }
}

.block1__4box {
  padding: 100px 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fon3.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  p {
    max-width: 390px;
    margin-right: 100px;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    color: #D34839;
    font-weight: 700;
  }
}

.block1__5box {
  padding: 76px 20px;
  min-height: 148px;
  background-image: url("../img/fon4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    max-width: 570px;
    margin: 5px auto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
}
